/* @import './themes'; */
@import './q-components.scss';
@import './map.scss';

html,
body,
#app {
  min-height: 100%;
  margin: 0;
  padding: 0;
  /* color: var(--text-color) */
}

html {
  /* background: var(--background-color); */
}

#app {
  display: flex;
  min-width: 100%;
  width: fit-content;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--q-primary);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
