{
  "./**/*.{md,yml}": [
    "prettier --write"
  ],
  "./**/*.{ts,vue}": [
    "prettier --write",
    "eslint --fix"
  ],
  "./**/*.{ts,vue,md}": [
    "cspell --config=.cspell.json \"**/*.{ts,vue,md}\""
  ],
  "./src/locales/en.yml": [
    "cspell --config=.cspell.json \"./src/locales/en.yml\""
  ]
}
