{
  "./**/*.{md,yml}": [
    "prettier --write"
  ],
  "./**/*.{ts,vue}": [
    "prettier --write",
    "eslint --fix"
  ],
  "./**/*.{ts,vue,md}": [
    "cspell --config=.cspell.json"
  ],
  "./src/locales/en-US.yml": [
    "cspell --config=.cspell.locale.json --locale=en-US"
  ]
}
