:root.dark {
  --color-scheme: dark;

  --color-sheet-1: var(--color-dark);
  --text-on-sheet-1: var(--color-light);
  --text-on-sheet-1-faint: var(--color-light-faint);

  --color-sheet-2: var(--color-darker);
  --text-on-sheet-2: var(--color-lighter);
  --text-on-sheet-2-faint: var(--color-light);

  --color-sheet-3: var(--color-darkest);
  --text-on-sheet-3: var(--color-lightest);
  --text-on-sheet-3-faint: var(--color-lighter);
}
