@use "sass:map";
@use "sass:meta";

@use "../colors" as *;
@use "../functions" as *;

:root {
  --color-scheme: light;

  @each $type, $value in $brand {
    --q-#{$type}: #{map.get($value, "prop")};

    @include color-contrast(
      --text-on-#{$type},
      $value,
      f-apply(meta.get-function(get-color-and-prop), $text-colors),
      $contrastAA
    );

    @include color-contrast(
      --text-on-#{$type}-faint,
      $value,
      f-apply(meta.get-function(get-color-and-prop), $text-colors-with-faint),
      $contrastAA
    );
  }

  --color-sheet-1: var(--color-light);
  --text-on-sheet-1: var(--color-dark);
  --text-on-sheet-1-faint: var(--color-dark-faint);

  --color-sheet-2: var(--color-lighter);
  --text-on-sheet-2: var(--color-darker);
  --text-on-sheet-2-faint: var(--color-dark);

  --color-sheet-3: var(--color-lightest);
  --text-on-sheet-3: var(--color-darkest);
  --text-on-sheet-3-faint: var(--color-darker);
}
