@import './colors.css';

:root {
  color-scheme: light;

  --color-primary: #409eff;
  --color-primary-rgb: 64,158,255;
  --color-primary-0: #337ecc;
  --color-primary-1: #53a8ff;
  --color-primary-2: #66b1ff;
  --color-primary-3: #79bbff;
  --color-primary-4: #8cc5ff;
  --color-primary-5: #a0cfff;
  --color-primary-6: #b3d8ff;
  --color-primary-7: #c6e2ff;
  --color-primary-8: #d9ecff;
  --color-primary-9: #ecf5ff;

  --background-color: var(--color-white);
  --text-color: var(--color-black);
  --nav-background: var(--color-light);

  --bg-color-overlay: var(--color-primary-9);
}
