$contrastA: 3;
$contrastAA: 4.5;
$contrastAAA: 7;

$text-colors: "dark" "light" "darker" "lighter" "darkest" "lightest";
$text-colors-with-faint: "dark-faint" "light-faint" "dark" "light" "darker"
  "lighter" "darkest" "lightest";
